#PokeImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    
}

#PokeText{
    font-family: "SF Movie Poster", cursive; 
    
}
#PokeHeader{
    background-color: #e8332a;
    padding: 0%;
    margin: 0%;
    font-family: "SF Movie Poster", cursive;
    color:azure;
    position: fixed;
    font-size: 125%;
    left: 0;
    
    right: 0;
    top: 0%;
}
#PokeFooter{
  background-color: #e8332a;
    padding: 0%;
    margin: 0%;
    font-family: "SF Movie Poster", cursive;
    color:azure;
    
    font-size: 125%;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 5%;
}
#mainDiv{
   text-align: center;
   
}
#secondDiv{
  position: relative;
  margin-top: 5%;
}
#link{
    font-family: "SF Movie Poster", cursive;
    padding-top: 5%;
    font-size: 150%;
}
table {
    border-collapse: collapse;
    width: 75%;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  td,
  th {
    border: 1px solid #e8332a;
    text-align: left;
    font-family: "SF Movie Poster", cursive;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #e8332a;
    color:azure;
  }
  #weightHeight{
    text-align: center;
    align-self: left;
    align-items: left;
    align-content: left;
    font-family: "SF Movie Poster", cursive;
  }